.idea
backend/node_modules
backend/dist/index.js
backend/.env
backend/package-lock.json

# FrontEnd
frontend/node_modules
frontend/package-lock.json
frontend/yarn.lock
frontend/yarn.error.log

src/**/*.js
src/**/*.map
coverage
